# Dependencies
node_modules
package-lock.json
yarn.lock

# Build outputs
dist
build
coverage
.next

# Environment and config
.env
.env.local
.env.*.local

# Logs
*.log

# OS files
.DS_Store

# IDE
.vscode
.idea

# Docker
Dockerfile*
docker-compose*.yml

# Other
*.min.js
*.min.css
public/manifest.json
